header {
    background-color: rgba(0,0,0,.1);
    border-bottom: double gray;
}

h1 {
    width: 50%;
    margin: auto;
    text-align: center;
}

h2 {
    margin: 8px;
    /* text-align: center; */
}

body {
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
    grid-template-rows: auto 1fr auto;
}

button {
    border-radius: 4px;
}

button:hover {
    background-color: rgba(0,0,0,0.1);
}

.delete {
    position: absolute;
    display: inline-block;
    align-self: flex-end;
    border: none;
    background-color: rgba(0,0,0,0);
    color: gray;
}

.d-non-map {
    /* splits screen for map display */
    display: inline-block;
}

.d-none{
    display: none;
}

#new-trip-btn {
    float: right;
    margin: 10px;
}

#trip-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trips {
    background: rgba(200, 200, 200, 10);
    margin: 10px;
    display: flex;
    flex: 1 0 150px;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    border-radius: 5px 15px;
    border: 2px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.title {
    margin: 10px;
}

.description {
    vertical-align: middle;
}

.updated_at {
    font-size: .6em;
}