.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}
.flex-grid-thirds .col {
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* splits screen for map display  */
/* .d-non-map {
    
    display: inline-block;
} */

.d-none{
    display: none;
}

header {
    background-color: rgba(0,0,0,.1);
    border-bottom: double gray;
}

h1 {
    width: 50%;
    margin: auto;
    text-align: center;
}

h2 {
    margin: 8px;
    text-align: center;
}

body {
    font-family: 'Baloo Tamma 2', cursive;
}

button {
    border-radius: 4px;
}

button:hover {
    background-color: rgba(0,0,0,0.1);
}

#col-header {
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.delete {
    position: absolute;
    display: inline-block;
    align-self: flex-end;
    border: none;
    background-color: rgba(0,0,0,0);
    color: gray;
}

#new-trip-btn, #new-location-btn {
    margin: 10px;
}

.locationBtn {

    margin: 10px;
}

#trip-form {
    margin: 10px;
}

#trip-column, #location-column, #map-column{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 33%;
}

/* .trip-collection-toggle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 33%;
} */

.trips, .locations{
    background: rgba(200, 200, 200, 10);
    margin: 10px;
    display: flex;
    flex: 1 0 150px;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    border-radius: 5px 15px;
    border: 2px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.title {
    margin: 10px;
}

.description {
    vertical-align: middle;
}

.updated_at {
    font-size: .6em;
}